<h3 class="md-headline">{{title}}</h3>
<hr>
<md-nav-list>
  <md-list-item ng-click="closeSidenav()" >
    <a (click)="closeSidenav()" md-list-item routerLink="/searchPlate">Search</a>
  </md-list-item>
  <md-list-item ng-click="closeSidenav()">
    <a (click)="closeSidenav()" md-list-item>Feed</a>
  </md-list-item>
</md-nav-list>
