<div>
  <h3> Create Plate: </h3>
  <md-input-container>
    <input mdInput placeholder="Plate name" #plateNumber>
  </md-input-container>
  <button md-raised-button (click)="onCreatePlate(plateNumber.value); plateNumber.value=''" >Create</button>

  <p> {{ errorMessage }} </p>

  <h3> Plates List: </h3>
  <md-nav-list>
    <md-list-item *ngFor="let plate of plates"> {{ plate.plateNumber }} </md-list-item>
  </md-nav-list>
</div>
