<div>
  <h3> Send a message to {{plateNumber}}</h3>
  <md-input-container class="containerTextArea">
    <textarea class="messageTextArea" mdInput placeholder="Message" #message></textarea>
  </md-input-container>
  
    <div style="text-align: center;">
    <a md-raised-button (click)="onSendMessage(message.value);">Send</a>
  </div>
</div>
