<div>
  <h3>{{title}}</h3>

  <md-list>
    <md-list-item *ngFor="let message of messages" >
      <p md-line> {{message.date | date:'medium'}} </p>
      <p md-line>
        <span> {{message.text}}</span>   
      </p>
    </md-list-item>
    
  </md-list>
  <div class="containerButton" >
    <a mdTooltip="Send a message" class="sendButton" md-fab routerLink="/{{plateNumber}}/sendmessage"><md-icon>add</md-icon></a>
  </div>
    
</div>
