<form>

  <div>
  
    <md-input-container>
      <input style="text-transform: uppercase;" mdInput placeholder="Plate Number" mdInput #plateNumber [textMask]="{mask: mask}" >
    </md-input-container>
 
  </div>
  
  <div style="text-align: center;">
    <a md-raised-button (click)="onSearchPlate(plateNumber.value)">search</a>
  </div>
   
  
</form>
