<md-sidenav-container>

  <md-sidenav #sidenav mode="over" class="app-sidenav">
    <menu></menu>
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    Car Talk App
    <span class="app-toolbar-filler"></span>
  </md-toolbar>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>
