md-sidenav {
  background-color: #424242;
  height: 100%;
  width: 80%;
}

md-sidenav-container{
  height: 100%;
}

.app-content {
  padding: 20px;
}

.app-sidenav {
  min-width: 100px;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}
